<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3.2 -Reading and Writing in Python</title>
</head>
<body>
    <h1><strong>3.2 -Reading and Writing in Python</strong>></h1>
    <h1><strong>Overview</strong></h1>
    <p>Today’s lesson will focus on how to iterate over lists in Python. The lesson begins with a recap of how to use loops in Python. 
        Then, after a more advanced looping activity, you will take your Python programming skills to the next level by learning how to read data from and write data to external CSV files. 
        The lesson will conclude with an introduction to functions, which are reusable code blocks that are essential to efficient programming in Python.
    </p>
    <h1><strong>What You'll Learn</strong></h1>
    <p>By the end of this lesson, you will be able to:</p>
    <ul>
        <li>Read/write data from/to CSV files with Python.</li>
        <li>Zip two lists together.</li>
        <li>Create and execute Python functions.</li>
    </ul>
    <h1>Table of Contents:</h1>
    <ul>
        <li><a href="submodule 3 parts/Python Importing Modules.html">Go to Importing Modules</a></li>
        <li><a href="submodule 3 parts/Writing CSVs.html">Go to Reading/Writing CSVs</a></li>
        <li><a href="submodule 3 parts/Python Functions.html">Go to Python Functions</a></li>
    </ul>

</body>
</html>