<!DOCTYPE html>
<html>
<head>
    <title>3.3 -A Deeper Dive into Python</title>
</head>
<body>
    <h1><strong>3.3 -A Deeper Dive into Python</strong></h1>
    <h1><strong>Overview</strong></h1>
    <p>In today’s class, you’ll have an opportunity to practice your Python skills in a series of activities that use dictionaries, lists, and functions. 
        Then, once you’re warmed up, you will get a tutorial on how to use the terminal to interact with GitHub.</p>
    <h1><strong>What You'll Learn</strong></h1>
    <p>By the end of this lesson, you will be able to:</p>
    <ul>
        <li>Create and use data structures, including lists, tuples, and dictionaries.</li>
        <li>Create and use decision and repetition statements.</li>
        <li>Create and use Boolean and logical operators.</li>
        <li>Add, commit, and push code to GitHub from the command line.</li>
    </ul>
    <h1>Table of Contents:</h1>
    <ul>
        <li><a href="Python Comprehensive Overview">Go to Python Overview</a></li>
        <li><a href="Python Lists/Tuples/Arrays/Sets/Dictionaries">Go to lists, tuples, dictionaries OH MY!</a></li>
        <li><a href="Python Conditionals">Go to Python Conditionals</a></li>
        <li><a href="Python Loops">Go to You spin me right round baby right round Python loops</a></li>
        <li><a href="Github">Go to links for github</a></li>
    </ul>
</body>
</html>