<!DOCTYPE html>
<html>
<head>
    <title>Python Loops</title>
</head>
<body>
    <h1><strong>Python Loops:</strong>></h1>
    
    <h2>For Loops:</h2>
    <ul>
        <li><a href="https://www.javatpoint.com/python-for-loop">Python For Loop - JavaTpoint</a></li>
        <li><a href="https://www.w3schools.com/python/python_for_loops.asp">Python For Loops - w3schools</a></li>
        <li><a href="https://www.programiz.com/python-programming/for-loop">Python For Loop - Programiz</a></li>
        <li><a href="https://wiki.python.org/moin/ForLoop">Python For Loop - Python.org Wiki</a></li>
        <li><a href="https://www.geeksforgeeks.org/loops-in-python/">Loops in Python - GeeksforGeeks</a></li>
    </ul>

    <h2>While Loops:</h2>
    <ul>
        <li><a href="https://www.javatpoint.com/python-while-loop">Python While Loop - JavaTpoint</a></li>
        <li><a href="https://www.w3schools.com/python/python_while_loops.asp">Python While Loops - w3schools</a></li>
        <li><a href="https://www.programiz.com/python-programming/while-loop">Python While Loop - Programiz</a></li>
        <li><a href="https://www.geeksforgeeks.org/python-while-loop/">Python While Loop - GeeksforGeeks</a></li>
        <li><a href="https://www.learnpython.org/en/Loops">Loops - LearnPython.org</a></li>
    </ul>

    <h2>Loop Control Statements:</h2>
    <ul>
        <li><a href="https://www.programiz.com/python-programming/break-continue">Python Break and Continue Statements - Programiz</a></li>
        <li><a href="https://stackoverflow.com/questions/20576960/python-infinite-while-loop-break-on-user-input">Breaking Out of a While Loop with Specific Input - Stack Overflow</a></li>
        <li><a href="https://stackoverflow.com/questions/55484936/breaking-out-of-while-loop-with-specific-input">Breaking Out of a While Loop with Specific Input - Stack Overflow</a></li>
    </ul>

    <h1>Python File Operations:</h1>
    
    <h2>With Statement:</h2>
    <ul>
        <li><a href="https://www.programiz.com/python-programming/file-operation">File Operation in Python - Programiz</a></li>
        <li><a href="https://www.w3schools.com/python/ref_func_open.asp">Python open() Function - w3schools</a></li>
        <li><a href="https://note.nkmk.me/en/python-file-io-open-with/">Python File I/O with 'with' Statement - nkmk</a></li>
        <li><a href="https://www.pythonforbeginners.com/files/with-statement-in-python">Using the 'with' Statement in Python - PythonForBeginners</a></li>
        <li><a href="https://www.freecodecamp.org/news/with-open-in-python-with-statement-syntax-example/">Python 'with' Statement Syntax Example - FreeCodeCamp</a></li>
    </ul>
    
    <h2>Additional Resources:</h2>
    <ul>
        <li><a href="https://peps.python.org/pep-0343/">PEP 343 - The "with" Statement</a></li>
        <li><a href="https://docs.python.org/3/reference/compound_stmts.html">Python Compound Statements - Official Documentation</a></li>
        <li><a href="https://www.geeksforgeeks.org/with-statement-in-python/">Python 'with' Statement - GeeksforGeeks</a></li>
    </ul>
</body>
</html>