<!DOCTYPE html>
<html>
<head>
    <title>Python Importing Modules</title>
</head>
<body>
    <h1><strong>Python Importing Modules</strong>></h1>
    <h2>Official Python Documentation:</h2>
    <ul>
        <li><a href="https://docs.python.org/3/reference/import.html">Python Import Statement - Official Documentation</a></li>
        <li><a href="https://docs.python.org/3/tutorial/modules.html">Python Modules - Official Tutorial</a></li>
    </ul>
    
    <h2>Tutorials and Articles:</h2>
    <ul>
        <li><a href="https://realpython.com/python-import/">Python Import Statement - Real Python</a></li>
        <li><a href="https://www.youtube.com/watch?v=GxCXiSkm6no">YouTube - Python Import Tutorial</a></li>
        <li><a href="https://python-notes.curiousefficiency.org/en/latest/python_concepts/import_traps.html">Python Import Traps - curiousefficiency.org</a></li>
        <li><a href="https://www.geeksforgeeks.org/import-module-python/">Importing Modules in Python - GeeksforGeeks</a></li>
        <li><a href="https://blog.cloudboost.io/python-import-from-as-cheatsheet-tutorial-example-beginner-help-module-function-def-5f03b02a1dbe">Python 'import from as' Cheatsheet - Medium</a></li>
        <li><a href="https://www.w3schools.com/python/gloss_python_module_import_from.asp">Python 'import from' Statement - w3schools.com</a></li>
        <li><a href="https://www.w3schools.com/python/python_modules.asp">Python Modules - w3schools.com</a></li>
        <li><a href="https://www.digitalocean.com/community/tutorials/how-to-import-modules-in-python-3">How to Import Modules in Python 3 - DigitalOcean</a></li>
    </ul>
</body>
</html>