<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Useful Python and Git Links</title>
</head>
<body>
    <h1>Python Function Resources:</h1>
    <ul>
        <li><a href="https://cs.stanford.edu/people/nick/py/python-function.html">Stanford - Python Function</a></li>
        <li><a href="https://realpython.com/defining-your-own-python-function/">Real Python - Defining Your Own Python Function</a></li>
        <li><a href="https://towardsdatascience.com/how-to-create-user-defined-functions-in-python-e5a529386534?gi=30cc0833733a">Towards Data Science - User Defined Functions in Python</a></li>
        <li><a href="https://www.geeksforgeeks.org/python-user-defined-functions/">Geeks for Geeks - Python User Defined Functions</a></li>
        <li><a href="https://www.w3resource.com/python/python-user-defined-functions.php">W3Resource - Python User Defined Functions</a></li>
        <li><a href="https://www.freecodecamp.org/news/python-functions-define-and-call-a-function/">freeCodeCamp - Python Functions</a></li>
        <li><a href="https://www.programiz.com/python-programming/user-defined-function">Programiz - User Defined Function</a></li>
    </ul>

    <h1>Python `range()` Function Resources:</h1>
    <ul>
        <li><a href="https://docs.python.org/3/tutorial/controlflow.html">Official Documentation - range() Function</a></li>
        <li><a href="https://docs.python.org/3/library/functions.html#func-range">Official Documentation - range() Function (Library)</a></li>
        <li><a href="https://www.w3schools.com/python/ref_func_range.asp">W3Schools - Python range() Function</a></li>
        <li><a href="https://www.programiz.com/python-programming/methods/built-in/range">Programiz - Python range() Function Example</a></li>
        <li><a href="https://www.freecodecamp.org/news/python-range-function-example/">freeCodeCamp - Python range() Function Example</a></li>
        <li><a href="https://python.land/deep-dives/python-range">Python Land - Deep Dive into Python `range`</a></li>
        <li><a href="https://medium.com/geekculture/loops-in-python-back-to-basics-7d305be3adf7">Medium - Loops in Python: Back to Basics</a></li>
    </ul>

    <h1>Git Resources:</h1>
    <ul>
        <li><a href="https://git-scm.com/book/en/v2/Getting-Started-What-is-Git%3F">Git - Getting Started with Git</a></li>
        <li><a href="https://marketplace.visualstudio.com/items?itemName=donjayamanne.githistory">Visual Studio Marketplace - Git with Visual Studio</a></li>
        <li><a href="http://rogerdudler.github.io/git-guide/">Roger Dudler's Git Guide</a></li>
        <li><a href="https://git-scm.com/docs/gittutorial">Git - Git Tutorial</a></li>
        <li><a href="https://www.geeksforgeeks.org/ultimate-guide-git-github/">Geeks for Geeks - Ultimate Guide to Git and GitHub</a></li>
        <li><a href="https://zerotomastery.io/blog/the-ultimate-guide-to-git-and-github/">Zero to Mastery - The Ultimate Guide to Git and GitHub</a></li>
    </ul>
</body>
</html>
