<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Loops</title>
</head>
<body>
<h1><strong>Python Loops:</strong>></h1>
    
<h2>For Loops:</h2>
<ul>
    <li><a href="https://www.javatpoint.com/python-for-loop">Python For Loop - JavaTpoint</a></li>
    <li><a href="https://www.w3schools.com/python/python_for_loops.asp">Python For Loops - w3schools</a></li>
    <li><a href="https://www.programiz.com/python-programming/for-loop">Python For Loop - Programiz</a></li>
    <li><a href="https://wiki.python.org/moin/ForLoop">Python For Loop - Python.org Wiki</a></li>
    <li><a href="https://www.geeksforgeeks.org/loops-in-python/">Loops in Python - GeeksforGeeks</a></li>
</ul>

<h2>While Loops:</h2>
<ul>
    <li><a href="https://www.javatpoint.com/python-while-loop">Python While Loop - JavaTpoint</a></li>
    <li><a href="https://www.w3schools.com/python/python_while_loops.asp">Python While Loops - w3schools</a></li>
    <li><a href="https://www.programiz.com/python-programming/while-loop">Python While Loop - Programiz</a></li>
    <li><a href="https://www.geeksforgeeks.org/python-while-loop/">Python While Loop - GeeksforGeeks</a></li>
    <li><a href="https://www.learnpython.org/en/Loops">Loops - LearnPython.org</a></li>
</ul>

<h2>Loop Control Statements:</h2>
<ul>
    <li><a href="https://www.programiz.com/python-programming/break-continue">Python Break and Continue Statements - Programiz</a></li>
    <li><a href="https://stackoverflow.com/questions/20576960/python-infinite-while-loop-break-on-user-input">Breaking Out of a While Loop with Specific Input - Stack Overflow</a></li>
    <li><a href="https://stackoverflow.com/questions/55484936/breaking-out-of-while-loop-with-specific-input">Breaking Out of a While Loop with Specific Input - Stack Overflow</a></li>
</ul>
</body>
</html>