<!DOCTYPE html>
<html>
<head>
    <title>Python Comprehensive Overview</title>
</head>
<body>
    <h1><strong>Overview</strong></h1>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc">Python Programming Full Course (6 Hours)</a></li>
        <li><a href="https://www.youtube.com/watch?v=tKTZoB2Vjuk">Learn Python with Google - Strings Deep Dive</a></li>
    </ul>

    <h2>MIT OpenCourseWare:</h2>
    <p>Watch lectures 1-5 of the MIT Introduction to Computer Science and Programming in Python:</p>
    <ul>
        <li><a href="https://ocw.mit.edu/courses/6-0001-introduction-to-computer-science-and-programming-in-python-fall-2016/video_galleries/lecture-videos/">MIT OpenCourseWare Lectures 1-5</a></li>
    </ul>

    <h2>Additional Video Resources:</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=tKTZoB2Vjuk">Learn Python with Google - Strings Deep Dive</a></li>
        <li><a href="https://www.youtube.com/watch?v=8DvywoWv6fI">Python Programming Full Course (13 Hours and 40 Minutes)</a></li>
    </ul>
    <h1><strong>Python Functions</strong>></h1>
    <h2>Python Functions Documentation and Tutorials:</h2>
    <ul>
        <li><a href="https://cs.stanford.edu/people/nick/py/python-function.html">Python Functions - Stanford</a></li>
        <li><a href="https://realpython.com/defining-your-own-python-function/">Defining Your Own Python Function - Real Python</a></li>
        <li><a href="https://towardsdatascience.com/how-to-create-user-defined-functions-in-python-e5a529386534">Creating User-Defined Functions in Python - Towards Data Science</a></li>
        <li><a href="https://www.geeksforgeeks.org/python-user-defined-functions/">User-Defined Functions in Python - GeeksforGeeks</a></li>
        <li><a href="https://www.w3resource.com/python/python-user-defined-functions.php">Python User-Defined Functions - w3resource</a></li>
        <li><a href="https://www.freecodecamp.org/news/python-functions-define-and-call-a-function/">Python Functions - FreeCodeCamp</a></li>
        <li><a href="https://www.programiz.com/python-programming/user-defined-function">User-Defined Functions in Python - Programiz</a></li>
    </ul>

    <h2>Python `range()` Function:</h2>
    <ul>
        <li><a href="https://docs.python.org/3/tutorial/controlflow.html">`range()` Function Official Documentation - Python</a></li>
        <li><a href="https://docs.python.org/3/library/functions.html#func-range">`range()` Function Official Documentation (Built-in Functions) - Python</a></li>
        <li><a href="https://www.w3schools.com/python/ref_func_range.asp">Python `range()` Function - w3schools</a></li>
        <li><a href="https://www.programiz.com/python-programming/methods/built-in/range">`range()` Function in Python - Programiz</a></li>
        <li><a href="https://www.freecodecamp.org/news/python-range-function-example/">Python `range()` Function Example - FreeCodeCamp</a></li>
        <li><a href="https://python.land/deep-dives/python-range">Deep Dive into Python `range()` - python.land</a></li>
        <li><a href="https://medium.com/geekculture/loops-in-python-back-to-basics-7d305be3adf7">Loops in Python - Medium</a></li>
    </ul>

    <h1>Git Resources</h1>

    <h2>Git Documentation and Tutorials:</h2>
    <ul>
        <li><a href="https://git-scm.com/book/en/v2/Getting-Started-What-is-Git%3F">Git - Getting Started - What is Git?</a></li>
        <li><a href="https://marketplace.visualstudio.com/items?itemName=donjayamanne.githistory">Using Git with Visual Studio - Git History Extension</a></li>
        <li><a href="http://rogerdudler.github.io/git-guide/">Git - The Simple Guide</a></li>
        <li><a href="https://git-scm.com/docs/gittutorial">Git Tutorial - Git Documentation</a></li>
        <li><a href="https://www.geeksforgeeks.org/ultimate-guide-git-github/">Ultimate Guide to Git and GitHub - GeeksforGeeks</a></li>
        <li><a href="https://zerotomastery.io/blog/the-ultimate-guide-to-git-and-github/">The Ultimate Guide to Git and GitHub - Zero to Mastery</a></li>
    </ul>
    <h1><strong>Python Importing Modules</strong>></h1>
    <h2>Official Python Documentation:</h2>
    <ul>
        <li><a href="https://docs.python.org/3/reference/import.html">Python Import Statement - Official Documentation</a></li>
        <li><a href="https://docs.python.org/3/tutorial/modules.html">Python Modules - Official Tutorial</a></li>
    </ul>
    
    <h2>Tutorials and Articles:</h2>
    <ul>
        <li><a href="https://realpython.com/python-import/">Python Import Statement - Real Python</a></li>
        <li><a href="https://www.youtube.com/watch?v=GxCXiSkm6no">YouTube - Python Import Tutorial</a></li>
        <li><a href="https://python-notes.curiousefficiency.org/en/latest/python_concepts/import_traps.html">Python Import Traps - curiousefficiency.org</a></li>
        <li><a href="https://www.geeksforgeeks.org/import-module-python/">Importing Modules in Python - GeeksforGeeks</a></li>
        <li><a href="https://blog.cloudboost.io/python-import-from-as-cheatsheet-tutorial-example-beginner-help-module-function-def-5f03b02a1dbe">Python 'import from as' Cheatsheet - Medium</a></li>
        <li><a href="https://www.w3schools.com/python/gloss_python_module_import_from.asp">Python 'import from' Statement - w3schools.com</a></li>
        <li><a href="https://www.w3schools.com/python/python_modules.asp">Python Modules - w3schools.com</a></li>
        <li><a href="https://www.digitalocean.com/community/tutorials/how-to-import-modules-in-python-3">How to Import Modules in Python 3 - DigitalOcean</a></li>
    </ul>
    <h1>Python File Operations:</h1>
    
    <h2>With Statement:</h2>
    <ul>
        <li><a href="https://www.programiz.com/python-programming/file-operation">File Operation in Python - Programiz</a></li>
        <li><a href="https://www.w3schools.com/python/ref_func_open.asp">Python open() Function - w3schools</a></li>
        <li><a href="https://note.nkmk.me/en/python-file-io-open-with/">Python File I/O with 'with' Statement - nkmk</a></li>
        <li><a href="https://www.pythonforbeginners.com/files/with-statement-in-python">Using the 'with' Statement in Python - PythonForBeginners</a></li>
        <li><a href="https://www.freecodecamp.org/news/with-open-in-python-with-statement-syntax-example/">Python 'with' Statement Syntax Example - FreeCodeCamp</a></li>
    </ul>
    
    <h2>Additional Resources:</h2>
    <ul>
        <li><a href="https://peps.python.org/pep-0343/">PEP 343 - The "with" Statement</a></li>
        <li><a href="https://docs.python.org/3/reference/compound_stmts.html">Python Compound Statements - Official Documentation</a></li>
        <li><a href="https://www.geeksforgeeks.org/with-statement-in-python/">Python 'with' Statement - GeeksforGeeks</a></li>
    </ul>
    
    <h1><strong>Python Lists Resources:</strong></h1>
    
    <h2>Tutorials and Documentation:</h2>
    <ul>
        <li><a href="https://note.nkmk.me/en/list/">Python List Operations and Methods - nkmk</a></li>
        <li><a href="https://www.w3schools.com/python/python_lists.asp">Python Lists - w3schools</a></li>
        <li><a href="https://www.geeksforgeeks.org/python-lists/">Python Lists - GeeksforGeeks</a></li>
        <li><a href="https://cs.stanford.edu/people/nick/py/python-list.html">Python Lists - Stanford</a></li>
        <li><a href="https://antonz.org/list-internals/">Python List Internals - Anton Zhiyanov</a></li>
        <li><a href="https://www.learnpython.org/en/Lists">Python Lists - LearnPython.org</a></li>
        <li><a href="https://www.javatpoint.com/python-lists">Python Lists - JavaTpoint</a></li>
        <li><a href="https://www.tutorialspoint.com/python/python_lists.htm">Python Lists - Tutorialspoint</a></li>
        <li><a href="https://developers.google.com/edu/python/lists">Python Lists - Google Developers</a></li>
        <li><a href="https://www.programiz.com/python-programming/list">Python Lists - Programiz</a></li>
    </ul>
    <h2>NumPy Arrays (Numerical Python):</h2>
    <ul>
        <li><a href="https://numpy.org/doc/stable/user/quickstart.html">NumPy Quickstart Tutorial</a></li>
        <li><a href="https://www.w3schools.com/python/numpy_intro.asp">NumPy Introduction - w3schools</a></li>
        <li><a href="https://www.geeksforgeeks.org/python-numpy/">NumPy - GeeksforGeeks</a></li>
        <li><a href="https://www.tutorialspoint.com/numpy/index.htm">NumPy Tutorial - Tutorialspoint</a></li>
    </ul>
    <h2>Methods and Built-in Functions:</h2>
    <ul>
        <li><a href="https://www.programiz.com/python-programming/methods/built-in/list">Python List Methods - Programiz</a></li>
        <li><a href="https://www.w3schools.com/python/python_lists.asp">Python List Methods - w3schools</a></li>
    </ul>

    <h2>Video Tutorial:</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=EPYupizJYQI">Python Lists and Sorting - YouTube</a></li>
    </ul>
    
</body>
</html>