<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Part1 -Introduction to Pandas</title>
</head>
<body>
    <h1><strong>Part1 -Introduction to Pandas</strong></h1>
    
    <h2>Helpful links</h2>
    <ul>
        <li><a href="https://pandas.pydata.org/docs/">Official documentation</a></li>
        <li><a href="https://pypi.org/project/pandas/">PyPI - pandas</a></li>
        <li><a href="https://www.geeksforgeeks.org/introduction-to-pandas-in-python/">GeeksforGeeks - Introduction to Pandas in Python</a></li>
        <li><a href="https://www.w3schools.com/python/pandas/default.asp">W3Schools - Python Pandas</a></li>
        <li><a href="https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/">LearnDataSci - Python Pandas Tutorial: A Complete Introduction for Beginners</a></li>
        <li><a href="https://www.datacamp.com/tutorial/pandas">DataCamp - Pandas Tutorial</a></li>
        <li><a href="https://www.digitalocean.com/community/tutorials/python-pandas-module-tutorial">DigitalOcean - Python Pandas Module Tutorial</a></li>
        <li><a href="https://www.tutorialspoint.com/python_pandas/python_pandas_dataframe.htm">TutorialsPoint - Python Pandas - DataFrame</a></li>
    </ul>
    <h2>Videos</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=gtjxAH8uaP0">5h video - Introduction to Pandas</a></li>
        <li><a href="https://www.youtube.com/watch?v=gtjxAH8uaP0">40m video - Introduction to Pandas</a></li>
        <li><a href="https://www.youtube.com/watch?v=_Eb0utIRdkw">38m video - Introduction to Pandas</a></li>
    </ul>

</body>
</html>