<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Resources</title>
</head>
<body>
    <h2>AGGREGATE FUNCTIONS:</h2>
    <ul>
        <li><a href="https://mode.com/sql-tutorial/sql-aggregate-functions/">Mode SQL Aggregate Functions</a></li>
        <li><a href="https://www.simplilearn.com/tutorials/sql-tutorial/sql-aggregate-functions">Simplilearn SQL Aggregate Functions</a></li>
        <li><a href="https://learn.microsoft.com/en-us/sql/t-sql/functions/aggregate-functions-transact-sql?view=sql-server-ver16">Microsoft SQL Aggregate Functions</a></li>
        <li><a href="https://www.codecademy.com/learn/learn-sql/modules/learn-sql-aggregate-functions/cheatsheet">Codecademy SQL Aggregate Functions</a></li>
        <li><a href="https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/Aggregate-Functions.html">Oracle SQL Aggregate Functions</a></li>
        <li><a href="https://www.w3schools.com/sql/sql_groupby.asp">W3Schools SQL GROUP BY</a></li>
        <li><a href="https://www.geeksforgeeks.org/aggregate-functions-in-sql/">GeeksforGeeks SQL Aggregate Functions</a></li>
        <li><a href="https://www.sqltutorial.org/sql-aggregate-functions/">SQLTutorial.org SQL Aggregate Functions</a></li>
        <li><a href="https://www.sqlshack.com/learn-sql-aggregate-functions/">SQLShack SQL Aggregate Functions</a></li>
        <li><a href="https://docs.snowflake.com/en/sql-reference/functions-aggregation">Snowflake SQL Aggregation Functions</a></li>
        <li><a href="https://www.javatpoint.com/dbms-sql-aggregate-function">JavaTpoint DBMS SQL Aggregate Functions</a></li>
    </ul>

    <h2>PostgreSQL Aggregate Functions:</h2>
    <ul>
        <li><a href="https://www.postgresqltutorial.com/postgresql-aggregate-functions/">PostgreSQLTutorial.com Aggregate Functions</a></li>
        <li><a href="https://www.youtube.com/watch?v=IE0_mm1y34M">Video: PostgreSQL Aggregate Functions</a></li>
        <li><a href="https://www.youtube.com/watch?v=TOeuzTRltlc">Video: PostgreSQL Aggregate Functions 2</a></li>
        <li><a href="https://www.postgresql.org/docs/current/tutorial-agg.html">PostgreSQL Tutorial - Aggregation</a></li>
        <li><a href="https://www.postgresqltutorial.com/postgresql-aggregate-functions/postgresql-string_agg-function/">PostgreSQL string_agg Function</a></li>
        <li><a href="https://www.educba.com/aggregate-functions-in-postgresql/">Educba Aggregate Functions in PostgreSQL</a></li>
        <li><a href="https://www.w3resource.com/PostgreSQL/postgresql-aggregate-functions.php">W3resource PostgreSQL Aggregate Functions</a></li>
        <li><a href="https://www.freecodecamp.org/news/sql-aggregate-functions-how-to-group-by-in-mysql-and-postgresql/">FreeCodeCamp SQL Aggregate Functions</a></li>
        <li><a href="https://www.timescale.com/blog/how-postgresql-aggregation-works-and-how-it-inspired-our-hyperfunctions-design-2/">Timescale Blog: PostgreSQL Aggregation</a></li>
        <li><a href="https://www.stratascratch.com/blog/postgres-aggregate-functions-you-must-know/">Stratascratch: PostgreSQL Aggregate Functions</a></li>
        <li><a href="https://www.tutorialspoint.com/postgresql/postgresql_useful_functions.htm">Tutorialspoint Useful PostgreSQL Functions</a></li>
        <li><a href="https://commandprompt.com/education/postgresql-aggregate-functions-with-practical-examples/">CommandPrompt PostgreSQL Aggregate Functions</a></li>
        <li><a href="https://postgrespro.com/docs/postgrespro/15/functions-aggregate">Postgres Pro Aggregate Functions (Advanced)</a></li>
        <li><a href="https://www.postgresql.org/docs/9.5/functions-aggregate.html">PostgreSQL Documentation - Aggregate Functions (Advanced)</a></li>
    </ul>

    <h2>Aliases:</h2>
    <ul>
        <li><a href="https://www.w3schools.com/sql/sql_alias.asp">W3Schools SQL Aliases</a></li>
        <li><a href="https://www.sqltutorial.org/sql-alias/">SQLTutorial.org SQL Aliases</a></li>
        <li><a href="https://www.tutorialspoint.com/sql/sql-alias-syntax.htm">Tutorialspoint SQL Alias Syntax</a></li>
        <li><a href="https://www.techonthenet.com/sql/alias.php">TechOnTheNet SQL Alias</a></li>
        <li><a href="https://www.databasestar.com/sql-alias/">DatabaseStar SQL Alias</a></li>
        <li><a href="https://www.geeksforgeeks.org/sql-aliases/">GeeksforGeeks SQL Aliases</a></li>
        <li><a href="https://learnsql.com/blog/sql-alias/">LearnSQL.com SQL Alias</a></li>
        <li><a href="https://www.udacity.com/blog/2023/03/the-power-of-a-sql-alias.html">Udacity - The Power of a SQL Alias</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Alias_(SQL)">Wikipedia - Alias (SQL)</a></li>
        <li><a href="https://www.programiz.com/sql/select-as-alias">Programiz SQL SELECT AS Alias</a></li>
    </ul>

    <h2>PostgreSQL Aliases:</h2>
    <ul>
        <li><a href="https://www.enterprisedb.com/postgres-tutorials/how-use-tables-and-column-aliases-when-building-postgresql-query">EnterpriseDB - PostgreSQL Table and Column Aliases</a></li>
        <li><a href="https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-alias/">PostgreSQLTutorial.com PostgreSQL Aliases</a></li>
        <li><a href="https://www.postgresql.org/docs/7.3/queries-table-expressions.html">PostgreSQL Documentation - Queries and Table Expressions</a></li>
        <li><a href="https://www.tutorialspoint.com/postgresql/postgresql_alias_syntax.htm">Tutorialspoint PostgreSQL Alias Syntax</a></li>
        <li><a href="https://www.educba.com/postgresql-alias/">Educba PostgreSQL Alias</a></li>
        <li><a href="https://stackoverflow.com/questions/23300003/create-alias-for-postgresql-table">Stack Overflow - Create Alias for PostgreSQL Table</a></li>
        <li><a href="https://www.techonthenet.com/postgresql/alias.php">TechOnTheNet PostgreSQL Alias</a></li>
        <li><a href="https://www.w3schools.com/postgresql/postgresql_as.php">W3Schools PostgreSQL AS Alias</a></li>
        <li><a href="https://www.javatpoint.com/postgresql-alias">JavaTpoint PostgreSQL Alias</a></li>
    </ul>

    <h2>GROUP BY:</h2>
    <ul>
        <li><a href="https://www.w3schools.com/sql/sql_groupby.asp">W3Schools SQL GROUP BY</a></li>
        <li><a href="https://www.tutorialspoint.com/sql/sql-group-by.htm">Tutorialspoint SQL GROUP BY</a></li>
        <li><a href="https://www.geeksforgeeks.org/sql-group-by/">GeeksforGeeks SQL GROUP BY</a></li>
        <li><a href="https://www.programiz.com/sql/group-by">Programiz SQL GROUP BY</a></li>
        <li><a href="https://learn.microsoft.com/en-us/sql/t-sql/queries/select-group-by-transact-sql?view=sql-server-ver16">Microsoft SQL GROUP BY</a></li>
        <li><a href="https://www.sqltutorial.org/sql-group-by/">SQLTutorial.org SQL GROUP BY</a></li>
        <li><a href="https://www.digitalocean.com/community/tutorials/how-to-use-groupby-and-orderby-in-sql">DigitalOcean - How to Use GROUP BY and ORDER BY in SQL</a></li>
        <li><a href="https://www.techonthenet.com/sql/group_by.php">TechOnTheNet SQL GROUP BY</a></li>
        <li><a href="https://www.scaler.com/topics/sql/group-by-multiple-columns/">Scaler - SQL GROUP BY Multiple Columns</a></li>
        <li><a href="https://www.sqlservertutorial.net/sql-server-basics/sql-server-group-by/">SQL Server Tutorial - GROUP BY</a></li>
    </ul>

    <h2>PostgreSQL GROUP BY:</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=SI-bPx4jaGc">Video: PostgreSQL GROUP BY</a></li>
        <li><a href="https://www.youtube.com/watch?v=iFkppCn7k5o">Video: PostgreSQL GROUP BY (40m)</a></li>
        <li><a href="https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-group-by/">PostgreSQLTutorial.com - PostgreSQL GROUP BY</a></li>
        <li><a href="https://www.tutorialspoint.com/postgresql/postgresql_group_by.htm">Tutorialspoint - PostgreSQL GROUP BY</a></li>
        <li><a href="https://www.geeksforgeeks.org/postgresql-group-by-clause/">GeeksforGeeks - PostgreSQL GROUP BY Clause</a></li>
        <li><a href="https://www.educba.com/postgresql-group-by/">Educba - PostgreSQL GROUP BY</a></li>
        <li><a href="https://www.tutorialsteacher.com/postgresql/groupby-clause">Tutorialsteacher - GROUP BY Clause</a></li>
        <li><a href="https://www.w3resource.com/PostgreSQL/postgresql-group-by.php">W3resource - PostgreSQL GROUP BY</a></li>
        <li><a href="https://www.commandprompt.com/education/how-to-use-group-by-clause-in-postgresql/">CommandPrompt - How to Use GROUP BY Clause in PostgreSQL</a></li>
        <li><a href="https://www.commandprompt.com/education/how-to-use-group-by-clause-on-multiple-columns-in-postgresql/">CommandPrompt - GROUP BY Clause on Multiple Columns in PostgreSQL</a></li>
        <li><a href="https://www.javatpoint.com/postgresql-group-by-clause">JavaTpoint - PostgreSQL GROUP BY Clause</a></li>
        <li><a href="https://linuxhint.com/postgres-groupby-day/">Linux Hint - GROUP BY Day</a></li>
        <li><a href="https://www.sqlservercentral.com/articles/postgresql-where-order-by-and-group-by-clauses">SQL Server Central - PostgreSQL WHERE, ORDER BY, and GROUP BY Clauses</a></li>
        <li><a href="https://www.cybertec-postgresql.com/en/postgresql-group-by-expression/">Cybertec - PostgreSQL GROUP BY Expression</a></li>
    </ul>

    <h2>Part 03: Gregarious Aggregates</h2>
    <ul>
        <li><a href="https://towardsdatascience.com/pandas-groupby-vs-sql-group-by-39ccd7d2b779">Gregarious Aggregates: Pandas vs. SQL GROUP BY</a></li>
        <li><a href="https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_sql.html">Pandas Documentation: Comparison with SQL</a></li>
        <li><a href="https://mode.com/blog/group-by-sql-python/">Mode Blog: GROUP BY in SQL and Python</a></li>
        <li><a href="https://levelup.gitconnected.com/pandas-equivalent-of-sqls-convenient-group-by-statement-9bdb6a91858a">Pandas Equivalent of SQL's Convenient GROUP BY</a></li>
        <li><a href="https://stackoverflow.com/questions/22105452/what-is-the-equivalent-of-sql-group-by-having-on-pandas">Stack Overflow: SQL GROUP BY HAVING in Pandas</a></li>
        <li><a href="https://www.scaler.com/topics/pandas/sql-vs-pandas/">Scaler: SQL vs. Pandas</a></li>
        <li><a href="https://realpython.com/pandas-groupby/">RealPython: Pandas GroupBy</a></li>
        <li><a href="https://medium.com/carwow-product-engineering/sql-vs-pandas-how-to-balance-tasks-between-server-and-client-side-9e2f6c95677">Medium: SQL vs. Pandas - Balancing Tasks</a></li>
        <li><a href="https://www.freecodecamp.org/news/pandas-dataframe-groupby-method/">FreeCodeCamp: Pandas DataFrame GroupBy Method</a></li>
        <li><a href="https://morioh.com/a/e871cbc1873d/pandas-groupby-vs-sql-group-by">Morioh: Pandas GroupBy vs. SQL GROUP BY</a></li>
        <li><a href="https://www.turing.com/kb/how-to-perform-sql-in-pandas-python">Turing: How to Perform SQL in Pandas</a></li>
        <li><a href="https://www.statology.org/pandas-groupby-having/">Statology: Pandas GroupBy HAVING</a></li>
        <li><a href="https://blog.gitnux.com/code/python-group-by/">GitNux Blog: Python Group By</a></li>
    </ul>

    <h2>Part 04: Order By Aggregates</h2>
    <ul>
        <li><a href="https://www.w3schools.com/sql/sql_orderby.asp">W3Schools SQL ORDER BY</a></li>
        <li><a href="https://www.w3schools.com/sql/sql_ref_orderby.asp">W3Schools SQL ORDER BY Reference</a></li>
        <li><a href="https://www.geeksforgeeks.org/sql-order-by/">GeeksforGeeks SQL ORDER BY</a></li>
        <li><a href="https://www.tutorialspoint.com/sql/sql-order-by.htm">Tutorialspoint SQL ORDER BY</a></li>
        <li><a href="https://learn.microsoft.com/en-us/sql/t-sql/queries/select-order-by-clause-transact-sql?view=sql-server-ver16">Microsoft SQL ORDER BY</a></li>
        <li><a href="https://www.freecodecamp.org/news/ascending-order-with-sql-order-by/">FreeCodeCamp: Ascending Order with SQL ORDER BY</a></li>
        <li><a href="https://www.sqlservertutorial.net/sql-server-basics/sql-server-order-by/">SQL Server Tutorial: SQL ORDER BY</a></li>
        <li><a href="https://learnsql.com/cookbook/how-to-sort-in-sql/">LearnSQL: How to Sort in SQL</a></li>
        <li><a href="https://mode.com/sql-tutorial/sql-order-by/">Mode SQL ORDER BY</a></li>
        <li><a href="https://www.tutorialsteacher.com/sql/sql-orderby">Tutorialsteacher SQL ORDER BY</a></li>
        <li><a href="https://www.programiz.com/sql/order-by">Programiz SQL ORDER BY</a></li>
        <li><a href="https://www.sqltutorial.org/sql-order-by/">SQLTutorial.org SQL ORDER BY</a></li>
    </ul>

    <h2>PostgreSQL ORDER BY:</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=sAnpG-HS9DY">Video: PostgreSQL ORDER BY</a></li>
        <li><a href="https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-order-by/">PostgreSQLTutorial.com PostgreSQL ORDER BY</a></li>
        <li><a href="https://www.postgresql.org/docs/current/queries-order.html">PostgreSQL Documentation: Queries and ORDER BY</a></li>
        <li><a href="https://www.tutorialspoint.com/postgresql/postgresql_order_by.htm">Tutorialspoint: PostgreSQL ORDER BY</a></li>
        <li><a href="https://www.enterprisedb.com/postgres-tutorials/how-sort-rows-using-order-and-select-postgresql-6-examples">EnterpriseDB: Sort Rows Using ORDER BY in PostgreSQL</a></li>
        <li><a href="https://www.techonthenet.com/postgresql/order_by.php">TechOnTheNet: PostgreSQL ORDER BY</a></li>
        <li><a href="https://blog.devart.com/postgresql-order-by.html">Devart Blog: PostgreSQL ORDER BY</a></li>
        <li><a href="https://commandprompt.com/education/how-to-sort-multiple-columns-using-order-by-clause-in-postgresql/">CommandPrompt: Sort Multiple Columns Using ORDER BY in PostgreSQL</a></li>
        <li><a href="https://www.commandprompt.com/education/how-to-use-order-by-clause-in-postgresql/">CommandPrompt: How to Use ORDER BY Clause in PostgreSQL</a></li>
        <li><a href="https://www.educba.com/postgresql-order-by/">Educba: PostgreSQL ORDER BY</a></li>
        <li><a href="https://www.tutorialsteacher.com/postgresql/orderby-clause">Tutorialsteacher: PostgreSQL ORDER BY Clause</a></li>
        <li><a href="https://learnsql.com/cookbook/how-to-order-by-date-in-postgresql-or-oracle/">LearnSQL: How to ORDER BY Date in PostgreSQL</a></li>
        <li><a href="https://www.geeksforgeeks.org/postgresql-order-by-clause/">GeeksforGeeks: PostgreSQL ORDER BY Clause</a></li>
        <li><a href="https://www.w3resource.com/PostgreSQL/postgresql-order-by.php">W3resource: PostgreSQL ORDER BY</a></li>
        <li><a href="https://www.javatpoint.com/postgresql-order-by-clause">JavaTpoint: PostgreSQL ORDER BY Clause</a></li>
        <li><a href="https://www.instaclustr.com/blog/postgresql-order-by/">Instaclustr Blog: PostgreSQL ORDER BY</a></li>
        <li><a href="https://myusufirfanh.medium.com/postgresql-using-case-inside-order-by-clause-1eb711f5cca7">Medium: PostgreSQL Using CASE Inside ORDER BY Clause</a></li>
        <li><a href="https://postgrespro.com/docs/postgresql/12/indexes-ordering">Postgres Pro: Indexes Ordering</a></li>
        <li><a href="https://gist.github.com/cpjolicoeur/3590737">GitHub Gist: PostgreSQL ORDER BY Example</a></li>
        <li><a href="https://knock.app/blog/how-to-orderby-using-the-contents-of-a-column-in-postgres">Knock App Blog: ORDER BY Using the Contents of a Column in Postgres</a></li>
        <li><a href="https://www.codertutor.com/postgresql-order-by.html">CoderTutor: PostgreSQL ORDER BY</a></li>
    </ul>

    <h2>Part 05: Other functions</h2>
    <h3>ROUND:</h3>
    <ul>
        <li><a href="https://www.postgresqltutorial.com/postgresql-math-functions/postgresql-round/">PostgreSQLTutorial.com ROUND Function</a></li>
        <li><a href="https://www.w3resource.com/PostgreSQL/round-function.php">W3resource ROUND Function</a></li>
        <li><a href="https://www.commandprompt.com/education/postgresql-round-function-with-examples/">CommandPrompt ROUND Function with Examples</a></li>
        <li><a href="https://www.techonthenet.com/postgresql/functions/round.php">TechOnTheNet ROUND Function</a></li>
        <li><a href="https://www.educba.com/postgresql-round/">Educba ROUND Function</a></li>
        <li><a href="https://database.guide/how-round-works-in-postgresql/">Database.Guide: How ROUND Works in PostgreSQL</a></li>
    </ul>

    <h3>LIMIT:</h3>
    <ul>
        <li><a href="https://www.postgresql.org/docs/current/queries-limit.html">PostgreSQL Documentation: LIMIT</a></li>
        <li><a href="https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-limit/">PostgreSQLTutorial.com: PostgreSQL LIMIT</a></li>
        <li><a href="https://stackoverflow.com/questions/1133944/how-to-limit-rows-in-postgresql-select">Stack Overflow: How to Limit Rows in PostgreSQL SELECT</a></li>
        <li><a href="https://www.tutorialspoint.com/postgresql/postgresql_limit_clause.htm">Tutorialspoint: PostgreSQL LIMIT Clause</a></li>
        <li><a href="https://www.geeksforgeeks.org/postgresql-limit-with-offset-clause/">GeeksforGeeks: PostgreSQL LIMIT with OFFSET Clause</a></li>
        <li><a href="https://www.tutorialsteacher.com/postgresql/limit-offset-clause">Tutorialsteacher: LIMIT OFFSET Clause</a></li>
        <li><a href="https://www.enterprisedb.com/postgres-tutorials/how-use-limit-and-offset-postgresql">EnterpriseDB: How to Use LIMIT and OFFSET in PostgreSQL</a></li>
        <li><a href="https://www.commandprompt.com/education/how-to-use-limit-clause-in-postgresql/">CommandPrompt: How to Use LIMIT Clause in PostgreSQL</a></li>
    </ul>

    <h3>JOIN:</h3>
    <ul>
        <li><a href="https://www.prisma.io/dataguide/postgresql/reading-and-querying-data/joining-tables">Prisma Data Guide: PostgreSQL Joining Tables</a></li>
        <li><a href="https://www.commandprompt.com/education/how-to-use-limit-clause-in-postgresql/JOIN">CommandPrompt: JOIN in PostgreSQL</a></li>
    </ul>
</body>
</html>