<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relational Databases and SQL Resources</title>
</head>
<body>
    <h1>Relational Databases Introduction</h1>
    <ul>
        <li><a href="https://mariadb.com/kb/en/introduction-to-relational-databases/">Introduction to Relational Databases (MariaDB)</a></li>
        <li><a href="https://www.youtube.com/watch?v=WI9dE8-TFAc">YouTube Video: Introduction to Relational Databases</a></li>
        <li><a href="https://cloud.google.com/learn/what-is-a-relational-database">What is a Relational Database? (Google Cloud)</a></li>
        <li><a href="https://www.oracle.com/database/what-is-a-relational-database/">What is a Relational Database? (Oracle)</a></li>
        <li><a href="https://www.analyticsvidhya.com/blog/2021/08/what-is-relational-about-relational-databases/#:~:text=What%20is%20a%20relational%20database%3F">What is Relational About Relational Databases?</a></li>
    </ul>
    
    <h1>Introduction to SQL</h1>
    <h2>In-Depth Materials</h2>
    <ul>
        <li><a href="https://www.stat.berkeley.edu/~spector/sql.pdf">Introduction to SQL (PDF)</a></li>
    </ul>
    <h2>Tutorials and Courses</h2>
    <ul>
        <li><a href="https://www.javatpoint.com/dbms-sql-introduction">Introduction to SQL (JavaTpoint)</a></li>
        <li><a href="https://codeinstitute.net/global/blog/sql-introduction-structured-query-language/">SQL Introduction - Structured Query Language</a></li>
        <li><a href="https://www.edx.org/course/introduction-to-sql">Introduction to SQL (edX)</a></li>
        <li><a href="https://www.c-sharpcorner.com/article/introduction-to-sql-and-sql-commands/">Introduction to SQL and SQL Commands</a></li>
        <li><a href="https://sqlbolt.com/">SQLBolt - Learn SQL with Interactive Exercises</a></li>
    </ul>
    <h2>SQL Commands and Syntax</h2>
    <ul>
        <li><a href="https://www.edureka.co/blog/sql-commands">SQL Commands (edureka)</a></li>
        <li><a href="https://www.w3schools.com/sql/sql_intro.asp">SQL Tutorial - Introduction to SQL (W3Schools)</a></li>
        <li><a href="https://www.khanacademy.org/computing/computer-programming/sql">Khan Academy SQL Course</a></li>
        <li><a href="https://www.springboard.com/blog/data-analytics/what-is-sql/">What is SQL? (Springboard)</a></li>
        <li><a href="https://blog.hubspot.com/marketing/sql-tutorial-introduction">SQL Tutorial - Introduction (HubSpot)</a></li>
        <li><a href="https://www.programiz.com/sql/database-introduction">Introduction to SQL and Databases (Programiz)</a></li>
        <li><a href="https://mode.com/sql-tutorial/introduction-to-sql/">Introduction to SQL (Mode)</a></li>
    </ul>
    
    <h1>SQL Learning Resources</h1>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=pFq1pgli0OQ">30-Minute SQL Crash Course (YouTube)</a></li>
        <li><a href="https://www.kaggle.com/learn/intro-to-sql">3-Hour Course: Intro to SQL (Kaggle)</a></li>
    </ul>
</body>
</html>