<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5.3 -Introduction to Statistics</title>
</head>
<body>
    <h1>Introduction to Statistics</h1>
    <p><strong>Overview</strong></p><br>
    <p>Today's lesson combines your knowledge of fundamental statistics with Matplotlib and SciPy. 
        After a brief review of summary statistics, you will learn how to implement these statistical measures by using Python. 
        Then, once you’re comfortable with basic statistics in Python, you will learn a few new statistical concepts and models that you can use in your projects. 
        These include sample versus population, standard error, Pearson correlation coefficients, and linear regression.</p><br>
    <p><strong>What You'll Learn</strong></p><br>
    <p>By the end of this lesson, you will be able to:</p><br>
    <ul>
        <li>Calculate summary statistics such as mean, median, mode, variance, and standard deviation, by using Python.</li>
        <li>Plot, characterize, and quantify a normally distributed dataset with Python.</li>
        <li>Qualitatively and quantitatively identify potential outliers in a dataset.</li>
        <li>Differentiate between a sample and a population with respect to a dataset.</li>
        <li>Define and quantify correlation between two factors.</li>
        <li>Calculate and plot a linear regression with Python.</li>
    </ul>
    <p>Table of Contents:</p>
    <a href="submodule5 parts/Part1 -Statistical Concepts.html">Statistical Concepts Part1</a><br>
    <a href="submodule5 parts/Part2 -Calculating Mean, Median, and Mode.html">Calculating Mean, Median, and Mode Part2</a><br>
    <a href="submodule5 parts/Part3 -Intro to Numpy.html">Intro to Numpy Part3</a><br>
    <a href="submodule5 parts/Part4 -Intro to Scipy.html">Intro to Scipy Part4</a><br>
    <a href="submodule5 parts/Part5 -Normal Distribution.html">Normal Distribution Part5</a><br>
    <a href="submodule5 parts/Part6 -SciPy Stats Module.html">SciPy Stats Module Part6</a><br>
    <a href="submodule5 parts/Part7 -Quantiles and Outliers.html">Quantiles and Outliers Part7</a><br>
    <a href="submodule5 parts/Part8 -Sample, Population and SEM.html">Sample, Population and SEM Part8</a><br>
    <a href="submodule5 parts/Part9 -Correlation.html">Correlation Part9</a><br>
    <a href="submodule5 parts/Part10 -Linear Regression.html">Linear Regression Part10</a><br>
    <a href="submodule5 parts/Part11 -Chi-Square Tests.html">Chi-Square Tests Part11</a><br>
    <a href="submodule5 parts/Part12 -Degrees of Freedom and Critical Values.html">Degrees of Freedom and Critical Values part12</a><br>
    <a href="submodule5 parts/part13 -Intro to Hypothesis Testing.html">Intro to Hypothesis Testing part13</a><br>
</body>
</html>