<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6.1 -APIs</title>
</head>
<body>
    <h1>6.1 -APIs</h1>
    <p><strong>Overview</strong></p><br>
    <p>Today's lesson focuses on API calls. 
        It begins with a brief overview of APIs and JSON traversal. 
        Then, once you understand the fundamental process, you’ll learn how you can make API requests with the Requests library, 
        using the OMDb and New York Times APIs.</p><br>
    <p><strong>What You'll Learn</strong></p><br>
    <p>By the end of this lesson, you will be able to:</p><br>
    <ul>
        <li>Make get requests with the Request library.</li>
        <li>Convert JSON into a Python dictionary.</li>
        <li>Read and apply API documentation.</li>
        <li>Sign up for and use an API key.</li>
    </ul>
    <p>Table of Contents:</p>
    <a href="submodule6 parts/Part1 -Introduction to APIs.html">Intro to APIs Part1</a><br>
    <a href="submodule6 parts/Part2 -Introduction to JSON.html">Intro to JSON Part2</a><br>
    <a href="submodule6 parts/Part3 -Requests.html">Requests Part3</a><br>
    <a href="submodule6 parts/Part4 -SpaceX API.html">SpaceX API Part4</a><br>
    <a href="submodule6 parts/Part5 -Referencing Individual Elements from a JSON Array.html">Referencing Individual Elements from a JSON Array Part5</a><br>
    <a href="submodule6 parts/Part6 -Star Wars API.html">Star Wars API Part6</a><br>
    <a href="submodule6 parts/Part7 -OMDb API.html">OMDb API Part7</a><br>
    <a href="submodule6 parts/Part8 -Iterative Requests.html">Iterative Requests Part8</a><br>
    <a href="submodule6 parts/Part9 -NYTIMES API.html">NYTIMES API Part9</a><br>
</body>
</html>